r3
# This file describes the network interfaces
auto lo
iface lo inet loopback

auto eth1
iface eth1

auto eth2
iface eth2

auto eth3
iface eth3

# ports.conf --
frr version 10.5.1
frr defaults traditional
hostname r3
no ipv6 forwarding
!
interface eth1
 description R3-TO-R2
 ip address 10.0.23.2/30
 ip ospf cost 10
 ip ospf network point-to-point
!
interface eth2
 description R3-TO-R1-BACKUP
 ip address 10.0.13.2/30
 ip ospf cost 100
 ip ospf network point-to-point
!
interface eth3
 description R3-TO-SERVER
 ip address 192.168.30.1/24
!
interface lo
 ip address 3.3.3.3/32
!
router ospf
 ospf router-id 3.3.3.3
 passive-interface eth3
 network 3.3.3.3/32 area 0.0.0.0
 network 10.0.23.0/30 area 0.0.0.0
 network 10.0.13.0/30 area 0.0.0.0
 network 192.168.30.0/24 area 0.0.0.0
!
line vty
!
end
